body {
	overflow: hidden;
	margin: 2%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

h3 {
	margin-top: 7%;
}

textarea {
	height: 100px;
	width: 90%;
	max-width: 500px;
}

footer {
	position: absolute;
	bottom: 10%;
}
