body {
	background: #000 url(https://rvrvrv.github.io/img/stars.png) repeat;
	color: #dcdea8;
}
.container {
	max-width: 600px;
}

h3, h5 {
	text-align: center;
}

.form-control {
	background: #000 !important;
	color: #f0ad4e !important;
	margin: .4em;
}

.btn {
	cursor: pointer;
	font-weight: 600;
	margin: .4em 1em;
	width: 10em;
}

.btn:disabled {
  cursor: wait;
}

.results {
	margin-left: -1em;
}

select, th {
	background: #000;
}

table {
	margin: 0 auto;
}

th {
	padding: .4em 1em;
	font-size: 1.1em;
}

tr:nth-child(even) {
	background-color: #210;
}

tr:nth-child(odd) {
	background-color: #310;
}

td {
	padding: 0 1em 0 1em;
	border: 3px solid #000;
	width: 14em;
}

.winner {
	background: #030;
}

.error {
	color: #f66;
	margin-top: 1em;
}

@media (max-width: 575px) {
	.btn {
		margin: -.4em 1em .4em 1em;
	}
}
