	*,
*:before,
*:after {
	cursor: default;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box;
	outline: none !important;
}

body {
	background: azure;
	text-align: center;
	color: indigo;
	font-size: 48px;
}

h1 {
	font-size: 1.05em;
	font-weight: 900;
	padding: 1.1%;
}

#gameContainer {
	min-height: 400px;
	min-width: 400px;
}

table {
	border-collapse: separate;
	border-spacing: 5px;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	margin: 15px auto;
}

table,
td {
	border: 6px solid black;
	color: white;
}

td {
	padding: 0;
	width: 20vh;
	height: 20vh;
	background-color: blue;
	font-size: 1.8em;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

button {
	font: small-caps 400 0.6em Helvetica !important;
	cursor: pointer;
}

button:focus {
	box-shadow: none !important;
}

#timer {
	font-weight: 700;
	display: none;
}


/* For mobile devices */

@media screen and (orientation: portrait) and (max-height: 768px) {
	body {
		font-size: 36px;
	}
	#gameContainer {
		min-height: 0;
		min-width: 0;
	}
	td {
		width: 17vh;
		height: 20vh;
		font-size: 1.2em;
	}

	@media screen and (orientation: portrait) and (max-height: 640px) {
		body {
			font-size: 36px;
		}
		#gameContainer {
			min-height: 0;
			min-width: 0;
		}
		td {
			width: 17vh;
			height: 18vh;
			font-size: 1.2em;
		}

	}
	@media screen and (orientation: landscape) and (max-height: 768px) {
		body {
			font-size: 36px;
		}
		#gameContainer {
			min-height: 0;
			min-width: 0;
		}
		table {
			margin-top: 0;
		}
		td {
			width: 26vh;
			height: 24vh;
			font-size: 1.2em;
		}
		button {
			position: fixed;
			bottom: 3%;
			left: 3%;
		}
		#timer {
			position: fixed;
			bottom: 0;
			right: 0;
			width: 25%;
			line-height: 1em;
		}
	}
