body {
	background: #c6f1e1;
	margin: 5px;
	overflow: hidden;
	font-size: 12px;
}

input {
	font-size: 1.6em;
	margin-left: 15px;
	vertical-align: bottom;
	border-radius: 5px;
}

.bigText {
	font-size: 2em;
	margin-right: -13px;
	vertical-align: bottom;
}

#productText {
	font: small-caps 700 1.3em 'Tahoma';
}

table {
	width: 300px;
	background: #eef;
	border: 1px solid #005;
}

tr,
th,
td {
	padding: 2px;
}

#listAll {
	margin-top: 10px;
}

.listing {
	overflow-x: hidden;
	overflow-y: auto;
	max-width: 320px;
}

#partialCatalog {
	max-height: 20vh;
}

#fullCatalog {
	max-height: 40vh;
}

 