body {
	background: #000 url('http://i.imgsafe.org/704a61067f.jpg') top center /cover no-repeat fixed;
	overflow-x: hidden;
	margin: 2%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

h3 {
	margin-top: 7%;
}

#output {
	margin-top: 3%;
	text-transform: capitalize;
}

#imgUrl {
	display: block;
	width: 50%;
	min-width: 360px;
	margin-bottom: 1%;
	background: #DDF;
}

#userImg {
	max-width: 95vw;
	max-height: 50vh;
	margin-bottom: 10px;
}

#error {
	display: none;
	width: 50%;
}

#info {
	position: absolute;
	top: 5px;
	right: 5px;
	max-width: 200px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 5%;
	padding: 0.5%;
}


/* For mobile devices */

@media screen and (orientation: portrait) and (max-width: 640px) {
	#info {
		display: none;
	}
	#imgUrl {
		min-width: 95vw;
	}
}

@media screen and (orientation: landscape) and (max-width: 768px) {
	body {
		margin: 0 1%;
	}
	h3, #output {
		margin-top: 0;
	}
	#output {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	#resultsBottom {
		margin-left: 5%;
	}
}
